
        body {
            font-family: Arial, sans-serif;
        }
        header {
            background-color: rgb(97, 136, 70);
            color: #fff;
            padding: 10px;
            text-align: center;
        }
        nav {
            background-color: rgb(221, 220, 220);
            color: #fff;
            padding: 10px;
            text-align: center;
        }
        main {
            padding: 20px;
        }
       
